language:
        - c
python:
        - 2.7
        - 3.4
dist: trusty
sudo: required
compiler:
        - clang
        - gcc

before_install:
        - sudo apt-get update -qq
        - sudo apt-get install -qq libtool pkg-config build-essential autoconf automake pkg-config libsnmp-dev python-pip libcunit1 libcunit1-dev valgrind
        - pip install cffi configobj coverage
        - ./misc/travis/install-dependencies.sh
        - pip install  pyzmq
install:
        - ./bootstrap.sh

